
body{
    max-width: max-content;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
}
.body-container{
    width:80%;
    height: 100%;
    background-color: rgba(51, 217, 25, 0.473);
    border-radius: 15px;
    margin: auto;
    margin-top:20px;
    border: 3px solid green;
    padding: 10px;
}
.box-content{
width:1000px;
height: 300px;
background-color:rgba(0, 0, 0, 0.244);
border:1px solid white;
border-radius:15px;
margin:auto;
margin-top:20px;
}
.content{
margin-left:40px;
}
.date-time{
margin-right: 40px;
margin-bottom:40px;
}
.container>h1{
text-align: center;
}
.container>p{
    width:80%;
    margin: auto;
    text-align: center;
}
footer {
    position:fixed;
    bottom: 0px;
    width:100%;
    height:60px;   
    text-align: center;
    background:rgba(24, 25, 26, 0.29);
 }
 .clock {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 20px;
    font-weight: bold;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.day {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 20px;
    font-weight: bold;
    font-family: Orbitron;
    letter-spacing: 7px;
}  
#MyClockDisplay{
    width:400px;
    height:80px;
    background-color:rgba(33, 20, 4, 0.434);
    border-radius: 15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right:10px;
    align-items: center;
    text-align: center;
}